NEXT_PUBLIC_SUPABASE_URL=https://slrjtctvyhhbwwcgomcy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_BLYmFLhC_EstHmfnHt2UpA_4LATE0c9
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
